* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 15%);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

.search {
  padding-top: 1rem;
}

.search__input {
  background-color: hsl(0, 0%, 10%);
  width: 100%;
  font-size: 16px;
  line-height: 1.25em;
  color: white;
  border: 1px solid hsla(0, 0%, 100%, 0.25);
  outline: 2px solid;
  outline-color: transparent;
  padding: 0.25em 0.5em;
  transition: outline 0.2s;
}

.search__input:focus {
  outline-color: currentColor;
}

.results, .results__anime, .results__404 {
  display: flex;
  flex-flow: wrap;
  flex: 1 1 auto;
  justify-content: space-around;
}

.results__404 {
  align-items: center;
}

.anime {
  width: 200px;
  flex: 0 0 auto;
  margin: 1rem;
}

.anime__poster {
  flex: 0 0 auto;
  display: block;
  width: 100%;
  user-select: none;
  object-fit: contain;
  background-color: hsl(0, 0%, 7%);
  height: 280px;
}

.anime__title {
  margin-top: 1rem;
  font-size: 18px;
  text-align: center;
  color: white;
  display: inline-block;
  text-decoration: none;
}

.results__404 {
  flex-direction: column;
  position: absolute;
  left: 50%;
  color: white;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.results__404--title {
  font-size: 30vmin;
}

.results__404--subtitle {
  font-size: 20px;
}

.hidden {
  display: none;
}
